* {
  margin: 0;
  padding: 0;
}
.about-container {
  text-align: center;
  .about-img-container {
    width: 90%;
    margin: auto;
    text-align: left;
    p {
      margin-bottom: .5em;
    }
  }
}

body {
  background-color: rgb(244, 244, 244);
}
.App {
  text-align: center;
}
.icon {
  color: rgb(161, 192, 251);
}
.coming-soon-container {
  margin: 20em 0;
  h1 {
    text-align: center;
  }
}

.contact-info {
  margin-top: 4em;
}
.contact-item {

  width: 200px;
  margin: auto;
}
.contact-image {
  display: relative;
}
// .form-container {
//   width: 40%;
//   margin: auto;
// }

.contact-container {
  margin: 10em 0 10em;
}
.story-thumbnail {
  height: 13em;
}
.card-content {
  height: 19em;
  position: relative;
  bottom: 2.4em;
}


.main-header {
  color: rgb(161, 192, 251);
  margin: auto;
  font-family: "Palatino Linotype";
}
.newspaper-icon {
  margin-right: .4em;
}

.card-container {
  margin: auto;
  margin-bottom: 1em;
}
.title-container {
  padding: 1em 0;
  width: 40%;
  margin: auto;
  font-family: "Palatino Linotype";
}
.story-page-container {
  text-align: center;
  padding: 10em 0 13em 0;
  background-color: white;
  margin-bottom: -6em;
  height: 100%;
}
.content-container {
  width: 40%;
  margin: auto;
  color: black;
  margin-bottom: 1em;
}
.story-page-img {
  width: 40%;
  height: 20%
}

.published {
  padding: 1em 0;
}
.main-page-button {
  position: relative;
  top: 16em;
}
.footer-container {
  margin-top: 6em;
  padding-bottom: 37.5em;
  height: 14em;
  background-color: #1A1C1D;
  width: 100%;
}
.footer-links-container {
  margin-top: 4em;
  text-align: center;
}

.copyright {

  padding-top: 6em;
  font-size: 15px;
  text-align: center;
  margin: auto;
}
.list-item {
  color: white;
  font-size: 18px;
  line-height: 1.9;
}

.ui.list .list>a.item, .ui.list>a.item {
    cursor: pointer;
    color: white;
}
.ui.list .list>a.item, .ui.list>a.item:hover {
    color: rgb(161, 192, 251);
}

.ui.grid.divided:not([class*="vertically divided"]) > .row > .column {
     box-shadow: -1px 0 0 0 #d4d4d4;
   }
   .ui[class*="vertically divided"].grid > .row:before {
     box-shadow: 0 -1px 0 0 rgba(212, 212, 212, 1.0);
   }

.privacy-policy-container,
.terms-container {
  width: 80%;
  margin: auto;
  margin-top: 4em;
  ol, ul {
    margin-left: 1em;
  }
}
.career-img {
  display: block;
  margin: auto;
  margin-top: -24.5em;
  width: 60em;
  height: 40em;
}


#pointer {
      width: 250px;
      height: 40px;
      position: relative;
      bottom: 55px;
      left: 889px;
      background: darken(rgb(161, 192, 251), 10%);
    }
    #pointer:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid white;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }

.banner-text {
  position: relative;
  left: 25px;
  top: 7px;
  color: white;
}
.career-action {
  color: darken(rgb(161, 192, 251), 20%);
  position: relative;
  .apply-button,
  .apply-button:focus {
    background-color: darken(rgb(161, 192, 251), 30%);
    color: white;
    font-weight: bold;
    margin: 20px 0 0 75px;
  }
  .apply-button:hover,
  .apply-button:active {
    background-color: rgb(161, 192, 251);
    color: darken(rgb(161, 192, 251), 30%);
  }
}
.about-container {
  margin-top: 9.5em;
}
.careers-container {
  margin: auto;
  margin-top: 28em;
  max-width: 70em;

}
/*------ NEWS ICONS ----- */
.al-icon {
  margin: 0 0 0 .5em;
}
.al-jazeera-icon {
  margin: 0 0 0 1em;
}
.bbc-icon {
  margin: 0 0 -.5em 1em;
}
.business-insider-icon {
  margin: 0 0 -.3em .5em;
}
.cbs-icon {
  height: 25px;
  width: 120px;
  margin: 0 0 -.4em .4em;
}
.cnn-icon {
  margin: 0 0 -.2em .7em;
}
.dexerto-icon {
  margin: 0 0 0 .5em;
}
.espn-icon {
  margin: 0 0 -1em 1em;
}
.fox-business-icon  {
  margin-left: .8em;
}
.fox-news-icon {
  margin: 0 0 -.2em .5em;;
}
.the-hill-icon {
  margin: 0 0 -1.8em 1em;
}
.nbc-icon {
  margin: 0 0 0 .5em;
}
.nesn-icon {
  margin: 0 0 -2em .5em;
}
.nintendo-life-icon {

 margin: 0 0 -.2em 1em;
}
.npr-icon {
  margin: 0 0 -.5em .5em;
}
.reuters-icon {
  margin: 0 0 -2em .5em;
}
.tech-radar-icon {
  margin: 0 0 -1.8em 1em;
}
.usa-today-icon {
  margin: 0 0 -.8em 1em;
}
.the-wrap-icon {
  margin: 0 0 -2em .5em;
}
.wsj-icon {
  // height: 190px;
  // width: 190px;
  margin: 0 0 -6.2em 1em;
}
.vice-icon {
  margin-bottom: -1.8em;
}
.youtube-icon {
  margin: 0 0 -3em .4em;
}

.fantasy-pros-icon {
  margin: 0 0 -1.8em -.5em;
}
.news-9-icon {
  margin: 0 0 -.5em .5em;
}
/*------ NEWS ICONS ----- */


/*------ MEDIA QUERIES ----- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    background-color: blue;
  }
  .career-action {
    left: 13em;
    bottom: 7em;
    margin: auto;
  }
  .careers-container {
    margin-top: 30em;
  }
  .copyright {
    width: 100vw;
    margin: auto;
  }
  .menu-container {
    padding-bottom: 19em;
    .search-input {
      height: 2.5em;
    }
    .main-header {
      margin-left: 0.01em;
      padding-left: .8em;
    }
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background-color: green;
  }
  .career-action {
    left: 20em;
    bottom: 10em;
  }
  .careers-container {
    margin-top: 30em;
  }
  .copyright {
    width: 100vw;
    margin: auto;
  }
  .main-header {
    margin-left: 0.01em;
    padding-left: .8em;
  }
  .menu-container {
    margin-bottom: 22em;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
body {
  background-color: purple;
}
.career-action {
  left: 34em;
  bottom: 12em;
}
.copyright {
  width: 100%;
  margin: auto;
}
.menu-container {
  margin-bottom: 7em;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-color: red;
  }
  .career-action {
    left: 39em;
    bottom: 14em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background-color: orange;
  }
}
/*------ MEDIA QUERIES ----- */
