* {
  margin: 0;
  padding: 0;
}
.about-container {
  margin: 20em 0;
  text-align: center;

}

body {
  background-color: rgb(244, 244, 244);
}
.App {
  text-align: center;
}
.icon {
  color: rgb(161, 192, 251);
}
.coming-soon-container {
  margin: 20em 0;
  h1 {
    text-align: center;
  }
}

.contact-info {
  // text-align: center;
  .icon {
    border: 1px dotted pink;
  }
}

.contact-image {
  display: relative;
}
.form-container {
  width: 70%;
  margin: auto;
}
.contact-container {
  margin: 10em 0 10em;
}
.story-thumbnail {
  height: 13em;
}
.card-content {
  height: 19em;
  position: relative;
  bottom: 2.4em;
}


.main-header {
  color: rgb(161, 192, 251);
  margin: auto;
  font-family: "Palatino Linotype";
}
.newspaper-icon {
  margin-right: .4em;
}

.card-container {
  margin: auto;
  margin-bottom: 1em;
}
.title-container {
  padding: 1em 0;
  width: 40%;
  margin: auto;
  font-family: "Palatino Linotype";
}
.story-page-container {
  text-align: center;
  padding: 10em 0 13em 0;
  background-color: white;
  margin-bottom: -2em;
}
.content-container {
  width: 40%;
  margin: auto;
  color: black;
  margin-bottom: 1em;
}
.story-page-img {
  width: 40%;
  height: 20%
}

.published {
  padding: 1em 0;
}
.main-page-button {
  position: relative;
  top: 16em;
}
.footer-container {
  margin-top: 6em;
  padding-bottom: 37.5em;
  height: 14em;
  background-color: #1A1C1D;
  width: 100%;
}
.footer-links-container {
  margin-top: 4em;
  text-align: center;
}
.menu-container {
  margin-bottom: 10em;
}

.copyright {
  padding-top: 6em;
  font-size: 15px;
  text-align: center;
}
.list-item {
  color: white;
  font-size: 18px;
  line-height: 1.9;
}

.ui.list .list>a.item, .ui.list>a.item {
    cursor: pointer;
    color: white;
}
.ui.list .list>a.item, .ui.list>a.item:hover {
    color: rgb(161, 192, 251);
}

.ui.grid.divided:not([class*="vertically divided"]) > .row > .column {
     box-shadow: -1px 0 0 0 #d4d4d4;
   }
   .ui[class*="vertically divided"].grid > .row:before {
     box-shadow: 0 -1px 0 0 rgba(212, 212, 212, 1.0);
   }

/*------ NEWS ICONS ----- */
.al-icon {
  margin: 0 0 0 .5em;
}
.al-jazeera-icon {
  margin: 0 0 0 1em;
}
.bbc-icon {
  margin: 0 0 -.5em 1em;
}
.business-insider-icon {
  margin: 0 0 -.3em .5em;
}
.cbs-icon {
  height: 25px;
  width: 120px;
  margin: 0 0 -.4em .4em;
}
.cnn-icon {
  margin: 0 0 -.2em .7em;
}
.dexerto-icon {
  margin: 0 0 0 .5em;
}
.espn-icon {
  margin: 0 0 -1em 1em;
}
.fox-business-icon  {
  margin-left: .8em;
}
.fox-news-icon {
  margin: 0 0 -.2em .5em;;
}
.the-hill-icon {
  margin: 0 0 -1.8em 1em;
}
.nbc-icon {
  margin: 0 0 0 .5em;
}
.nesn-icon {
  margin: 0 0 -2em .5em;
}
.nintendo-life-icon {

 margin: 0 0 -.2em 1em;
}
.npr-icon {
  margin: 0 0 -.5em .5em;
}
.reuters-icon {
  margin: 0 0 -2em .5em;
}
.tech-radar-icon {
  margin: 0 0 -1.8em 1em;
}
.usa-today-icon {
  margin: 0 0 -.8em 1em;
}
.the-wrap-icon {
  margin: 0 0 -2em .5em;
}
.wsj-icon {
  // height: 190px;
  // width: 190px;
  margin: 0 0 -6.2em 1em;
}
.vice-icon {
  margin-bottom: -1.8em;
}
.youtube-icon {
  margin: 0 0 -3em .4em;
}

.fantasy-pros-icon {
  margin: 0 0 -1.8em -.5em;
}
.news-9-icon {
  margin: 0 0 -.5em .5em;
}
/*------ NEWS ICONS ----- */
