.App {
  text-align: center;
}
.list-item {
  list-style-type: square;
  text-align: left;
  padding: .4em 0;
}
.list-item a{
  color: black;
  text-decoration: none;
}
.list-item:hover {
  cursor: pointer;
}
