* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
.search-input {
  margin-bottom: 2em;
}

.story-thumbnail {
  height: 13em;
}
.card-content {
  height: 15em;
}

.main-header {
  color: rgb(161, 192, 251);
  margin: auto;
}
.newspaper-icon {
  margin-right: .4em;
}

.card-container {
  margin: auto;
  margin-bottom: 1em;
}
